<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="scripts/login.js"></script>
    <link rel="stylesheet" href="styles/login.css">
  </head>
  <body class="page">
      <div  class="login-page">
          
          <div class="form" >
          <img src="https://lahaus.imgix.net/static/branding/logo-lahaus-full.svg?auto=compress,format" >
            <form class="login-form">
              <input id="mail" type="text" placeholder="email"/>
              <input id="password" type="password" placeholder="password"/>
              <button id="login-btn">login</button>
            </form>
          </div>
        </div>
  </body>
</html>